# Default: normalize line endings ke LF
* text=auto eol=lf

# Bahasa pemrograman & template
*.php        diff=php
*.blade.php  diff=html
*.css        diff=css
*.scss       diff=css
*.js         diff=javascript
*.jsx        diff=javascript
*.ts         diff=typescript
*.tsx        diff=typescript
*.html       diff=html
*.json       text diff=json
*.md         diff=markdown
*.yml        text
*.yaml       text
*.xml        text
*.ini        text
*.env        text
*.lock       text
*.sh         text eol=lf
*.bat        text eol=crlf

# Jangan ikut saat archive/export
/.github             export-ignore
CHANGELOG.md         export-ignore
.styleci.yml         export-ignore
phpunit.xml          export-ignore
/tests               export-ignore
